<% if @runs %>
  <div class="row">
    <h3 class="center">Your new runs</h3>
    <%= render 'runs/run_card.html.erb' %>
  </div>
  <div class="row">
    <%= will_paginate @runs %>
  </div>
<% else %>
  <p>You have no unassigned runs.</p>
<% end %>
