<% if @runs %>
  <div class="row">
    <h3 class="center">Your new runs</h3>
    <%# form_tag "/home/update", method: "put" do %>
      <%# render 'runs/selector' %>
      <%= render 'runs/run_card.html.erb' %>


    <%# end %>
  </div>
  <div class="row">
    <%= will_paginate @runs %>
  </div>
<% else %>
  <p>You have no unassigned runs.</p>
<% end %>
