<h3 class="center"><%= @user.name %>'s runs</h3>
<% if @user == current_user %>
  <%= link_to 'Add a Run', new_user_run_path(current_user), class: 'btn right-align' %>
<% end %>
<div class="row">
  <%= render 'run_card.html.erb' %>
  </div>
<%= will_paginate @runs %>
