<p><%= @run.total_distance %> miles</p>
<p><%= @run.total_time %> minutes</p>
<p>Destination: <%= @run.goal.name %></p>

<div style='width: 800px;' class="map">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
