$('.goal-modal').remove();
$('#run_goal_id').append('<option value="<%= @goal.id %>"><%= @goal.name %></option>');
$('body').append(`<div class="alert alert-notice">
                    <%= image_tag 'x.png', class: 'x' %>
                    <h6 class="message" >Nice work. You added <%= @goal.name %> as a goal.</h6>`);

$(document).ready(function(){
  $('select').material_select();
});
