/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color";
 $primary-color: color("blue-grey", "base") !default;
 $secondary-color: color("light-green", "darken-1") !default;
 @import 'materialize';

 body {
     background: #2a2a2a;

 }
.map-container{
  #map{
    height: 400px;
  }
}
 .profile_small {
   width: 100px;
 }
 .alert{
   background-color: $secondary-color;
   position: absolute;
   top: 65px;
   right:  80px;
   border: 2px solid $primary-color;
   z-index: 10000000000000;
   height: 100px;
   width: 300px;
   animation-name: slider;
   animation-duration: .5s;
   animation-timing-function: ease-in-out;
   padding: 25px;
   .message {
     margin-top: 25px;
     font-weight: bold;
   }
   .x {
     height: 20px;
     display: block;
     float: right;
     &:hover {
       cursor: pointer;
     }
   }
 }
 .alert-notice{
   background-color: darkgreen;
   color: white;
 }
 .alert-alert{

   background-color: maroon;
   color: white;
 }

 .nav-margin {
   margin-left: 5%;
   margin-right: 5%;
 }

 a {
   color: #ffab00;
   text-transform: uppercase;
 }

 #show-all {
   margin-left: 10px;
 }

 @import './mixins';
/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

.progress {
  margin: 0 auto;
  width: 400px;
}
// }

.progress {
  height: 25px;
  padding: 4px;
  background: rgba(black, .25);
  border-radius: 6px;
  @include box-shadow(inset 0 1px 2px rgba(black, .25),
                      0 1px rgba(white, .08));
}

.progress-bar {
  position: relative;
  height: 16px;
  border-radius: 4px;
  @include transition(.4s linear);
  @include transition-property(width, background-color);
  @include box-shadow(0 0 1px 1px rgba(black, .25),
                      inset 0 1px rgba(white, .1));

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &:before {
    bottom: 0;
    // background: url('../images/stripes.png') 0 0 repeat;
    border-radius: 4px 4px 0 0;
  }

  &:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    @include linear-gradient(top, rgba(white, .3), rgba(white, .05));
  }
}

  #very-low{
    background-color: #f63a0f;
  }
  #low{
    background-color: #f27011;
  }
  #medium{
    background-color: #f2b01e;
  }
  #high{
    background-color: #f2d31b;
  }
  #very-high {
    background-color: #86e01e;
  }
